body{
    background:url('images/bg2.jpg');
    padding:0;
}

.btn-primary{
  margin-right: 10px;
}

.pagetitle{
text-align: center;
font-family: 'Baskerville', Times, serif;
color: white;
font-size: 50px;
margin-top:0;
}
.pagesubtitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:white;
  margin-bottom:0;
  }
/* my account button */
#myAcct, #home, #logOutBtn {
  font-size: 13px;
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}

/* API Responses Container */
#content {
  float: right;
  width: calc(100% - 300px);
}

/* Login Modal */

/*Login Launch button*/
#loginLaunch {
  font-size: 13px;
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}

.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.modal-body .fas {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 22px;
    color: #666666;
    display: table-cell;
    vertical-align: top;
}

.modal-content .fade.active {
  opacity: 1;
}

/* WIKI PANEL BELOW */
#wiki a{
  margin-right: 100px;
}


/* SIDE NAVIGATION BELOW */

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
    padding-top: 50px;
  }
  .nav-side-menu .brand {
    width: 300px;
    background-color: #23282e;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    position:fixed;
    top:0;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
  }

  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
    padding-left: 15px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  /* .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f324";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  } */
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 30px;
    font-size: 20px;
  }

  .nav-side-menu .sub-menu li a i {
    padding-right: 20px;
    font-size: 15px;
  }

  .nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
/* bookapi css */
  .book  {
    float:left;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 5px 5px;
    font-weight: 10px;
    padding: 5px;
  }
  .card-group{
    float: left;
    margin-bottom:25px;
  }

  .panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(6, 75, 131, 0.699)!important;
}

.panel-transparent .panel-body{
    background: rgba(249, 250, 250, 0.7)!important;
}
 

  .isbn {
    width: 100%;
    overflow: hidden;
  }
.bookbtn, 
.save{
  margin:10px;
  color:inherit;
}

/* googlemap css */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 70%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
table {
  font-size: 12px;
}
#map {
  width: 70%;
}
#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}
#findhotels {
  position: absolute;
  text-align: right;
  width: 100px;
  font-size: 14px;
  padding: 4px;
  z-index: 5;
  background-color: #fff;
}
#locationField {
  position: absolute;
  width: 190px;
  height: 25px;
  left: 108px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}
#controls {
  position: absolute;
  left: 300px;
  width: 140px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}
#autocomplete {
  width: 100%;
}
#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}







  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }


  @media (max-width: 769px) {
    #loginLaunch {
      margin-right: 60px;
    }

    #content {
      float: none;
      width: 100%;
    }

   .modal .modal-dialog {
     margin: 10px auto;
   }
  }



  